#all-posts{
    padding-top: 120px;
    input{
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.51);
        margin-bottom: 30px;
        overflow: hidden;
    }
    h1{
        font-size: 32px;
        color: #232536;
        margin-bottom: 20px;
    }
    .posts-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.536);
        margin-bottom: 20px;
        border-radius: 5px;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        img{
            max-width: 500px;
            width: 100%;
        }
        .posts-infos{
            margin-top: 20px;
            padding: 20px;
            h6{
                font-size: 20px;
                margin-bottom: 20px;
                color: #3a3e62;
            }
            h3{
                font-size: 22px;
                color: #232536;
                margin-bottom: 20px;
            }
            p{
                color: #232536;
                margin-bottom: 20px;
            }
        }
        @media(min-width:800px) {
            display: flex;
            max-width: 100%;
            flex-direction: row;
            img{
                max-width: 400px;
            }
            .posts-infos{
                margin-top: 20px;
                padding: 20px;
                h6{
                    font-size: 20px;
                    margin-bottom: 20px;
                    color: #3a3e62;
                }
                h3{
                    font-size: 24px;
                    color: #232536;
                    margin-bottom: 80px;
                }
                p{
                    color: #232536;
                    margin-bottom: 10px;
                }
            }
        }
    }
}